body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 4em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.03em;
}

h2 {
  line-height: 1.4;
  margin-top: 1.5em;
}

.mainview {
  min-height: 660px;
}

.view {

}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}

@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

nav {
  animation: nav 0.2s ease-in-out forwards;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  opacity: 0;
  padding: 3em;
  overflow-x: auto;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1em;
  }
}

nav::-webkit-scrollbar {
  display: none;
}

nav a {
  color: white;
  font-weight: 700;
  margin: 0 2em;
  letter-spacing: 0.08em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  nav a {
    margin: 0 1em;
  }
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

nav a:before {
  border-radius: 50%;
  content: '';
  background-color: #E5CC54;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  nav a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

nav a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}

.app {
  min-height: 750px;
  padding: 2em;
  text-align: center;
  background-color: #874CD4;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 3em 2em 2em;
  }
}

.App-header {
  background-color: #874CD4;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-name {
  padding: 35px 0px;
  width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    margin-top: 40px;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.with--accent {
  color: #ff5252;
  font-weight: 400;
}

.content {
  border-radius: 40px;
  background-color: white;
  color: #101010;
  max-width: 17em;
  min-height: 38em;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

.content--inner {
  padding: 3em;
}

@media screen and (max-width: 768px) {
  .content--inner {
    padding: 1em;
  }
}

.content--excerpt {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}
